<router-outlet></router-outlet>
@if (task)
{
  <html lang="ru">
  <body>
    <main class="tasks-container">
      <div class="task">
       <div class="task-header">
        <a (click)="onTextClick(task.id,task.disciplineName)">Задача</a>
         <p>Дисциплина {{task.disciplineName}}</p>
         <p>ФИО препода {{task.teacherName}}</p>
         <p>Дата окончания {{task.dateFinish}}</p>
       </div>
       <p class="task-body">
          Краткое описание задачи:
          {{task.description}}
          </p>
     </div>
    </main>
  </body>
  </html>
}
