body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #00424d;
}

.header {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 300px;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #00022e;
  color: #fff;
  outline: none;
  text-align: center;
}

.submit-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #2e1f33;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #1c1622;
}
